<div class="section py-2 md:py-12 scroll-m-20 w-full mx-auto container sm:max-w-4xl">
  <div class="mb-8 flex flex-col m-auto ">


    <div class="p-2 md:p-5 text-center text-2xl md:text-3xl md:mb-5 font-medium dark:text-white">

      <div class="hidden sm:block">
        About Me
      </div>

      <div class="block sm:hidden self-center">
        <div class="flex flex-row gap-16 place-content-center">
          <div class="self-center">
            About Me
          </div>
          <div>
            <img class="size-28 rounded-3xl shadow-md shadow-black dark:shadow-green-400 "
              src="./../../../../../assets/img/avatar-02-web.jpg" alt="Martin Pic.">
          </div>
        </div>
      </div>

    </div>



    <!-- <div class="section py-2 md:py-12 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"> -->
    <div class="mx-4 flex flex-col sm:flex-row items-center gap-8">

      <div class="hidden sm:block mb-4 order-1 sm:order-2 sm:min-w-48 md:min-w-52">
        <div class="">
          <img class="sm:size-48 md:size-52 rounded-full shadow-md shadow-black dark:shadow-green-400 "
            src="./../../../../../assets/img/avatar-02-web.jpg" alt="Martin Pic.">
        </div>
      </div>

      <!-- <div class="block sm:hidden mt-2 order-1 sm:order-2">
        <div class="m-0">
          <img class="w-20 h-20 rounded-3xl shadow-md shadow-black dark:shadow-green-400 "
            src="./../../../../../assets/img/avatar-02.jpg" alt="Martin Pic.">
        </div>
      </div> -->

      <div
        class="order-2 sm:order-1 sm:grow text-left text-pretty text-base mt-4 font-normal text-gray-700 dark:text-gray-300">
        Hi, I’m Martin. Born in Argentina, I moved to Paris at 20 to study classical music as a percussionist. My
        passion for tech started in 2008 when I launched my first business, designing my own website and e-commerce
        platform.
        <br><br>
        In 2017, I founded a startup in the beverage industry, leading the tech team. Unfortunately, the pandemic
        forced us to close, but I’ve since been freelancing as a software developer, helping others bring their ideas
        to life.
        <br><br>
        When I’m not working, you can find me surfing whenever I get the chance.
      </div>



    </div>


    <!-- </div> -->





  </div>

</div>
