<div class="mx-4 pb-10">

  <div class="p-2 md:p-5 text-center text-2xl md:text-3xl md:mb-5 font-medium dark:text-white">
    About Me
  </div>



<!-- <div class="section py-2 md:py-12 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"> -->
  <div class="mx-4">

    <div>

      <div class="flex gap-4 mb-4">
        <img class="size-12 sm:size-14 md:size-16 rounded-full shadow-md shadow-black dark:shadow-green-400 "
          src="./../../../../../assets/img/avatar-01.jpg" alt="Martin Pic.">


      </div>

      <div class="text-left text-pretty text-base mt-4 font-normal text-gray-700 dark:text-gray-300">
        Hi, I’m Martin. Born in Argentina, I moved to Paris at 20 to study classical music as a percussionist. My passion for tech started in 2008 when I launched my first business, designing my own website and e-commerce platform.
        <br><br>
        In 2017, I founded a startup in the beverage industry, leading the tech team. Unfortunately, the pandemic forced us to close, but I’ve since been freelancing as a software developer, helping others bring their ideas to life.
        <br><br>
        When I’m not working, you can find me surfing whenever I get the chance.
        <!-- <br><br>
        Since then, I have been working as a freelance software developer, dedicating my skills and expertise to help
        others with their projects.
        <br><br>
        Outside of my professional life, I am an avid surfer and love to spend my free time catching waves.
       -->
      </div>


    </div>

  </div>


<!-- </div> -->


</div>
