<!-- <div (click)="close()" class="fixed flex flex-col z-20 w-screen h-full bg-gray-700 bg-opacity-90">

  <div (click)="$event.stopPropagation()"
    class="m-auto py-4 px-1 sm:p-10 bg-gray-100 border border-gray-200 rounded-2xl shadow">

    <div class="flex flex-col items-center text-center">
      <div class="mb-3 text-2xl font-medium text-brand">Contact form</div>
      <div class="text-sm text-gray-500">
        Wow, you made it to the form! That's great for both of us.
        I look forward to hearing from you!
      </div>



      <div (click)="close()">
        <div class="cursor-pointer">
          Close
        </div>
      </div>




    </div>
  </div>
</div> -->

<div (click)="close()"
  class="flex justify-center bg-gray-300/50 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 items-center w-full md:inset-0 h-[calc(100%-0rem)] max-h-full">

  <div (click)="$event.stopPropagation()" class="w-11/12 sm:w-3/4 md:w-2/3 max-w-screen-sm">

    <div
      class="rounded-tr-2xl m-auto flex flex-col bg-white border border-gray-300 rounded-2xl shadow-md shadow-gray-400 dark:shadow-green-600 dark:border-gray-700 dark:bg-gray-900">


      @if(showConfirmation == false) {
      <div class="flex-row w-full px-2 text-center text-gray-800 dark:text-gray-200">


        <div class="pt-4 sm:pt-10 pb-0 sm:pb-2">
          <div class="text-lg sm:text-2xl pb-2">Contact form</div>
          <div class="text-sm sm:text-lg font-light">Happy to know about your proyect.</div>
          <div class="text-sm sm:text-lg font-light">No matter what it is.</div>
        </div>


        <form [formGroup]="formContact" (ngSubmit)="onSubmit()">

          <div class="m-auto max-w-sm sm:max-w-lg text-left">

            <div class="flex flex-col gap-4 pt-6">

              <div>
                <input class="contactInputs"
                  formControlName="fullname" type="text" placeholder="Name">
              </div>

              <div>
                <input class="contactInputs" formControlName="email" type="email" placeholder="Email">
              </div>

              <div class="px-2 pt-0 sm:pt-4 pb-2">
                <div class="pb-2">
                  What services are you interested in?
                </div>
                <div class="flex flex-col">
                  <label>
                    <input type="checkbox" value="Design" formControlName="serviceDesign">
                    Design
                  </label>
                  <label>
                    <input type="checkbox" value="Web site integration" formControlName="serviceDevelopment">
                    Development
                  </label>
                  <label>
                    <input type="checkbox" value="Web site integration" formControlName="serviceWebMigration">
                    Web Migrations
                  </label>
                  <label>
                    <input type="checkbox" value="Not sure yet" formControlName="serviceNotsure">
                    Not sure yet
                  </label>
                </div>
              </div>

              <div class="px-2">
                <div class="pb-2">
                  What's your budget? (optional)
                </div>
                <div class="flex">
                  <label class="pr-4 sm:inline-flex">
                    <input type="radio" value="N/A" formControlName="budget">
                    <div class="flex sm:pl-1">N/A</div>
                  </label>
                  <label class="pr-4 pl-2 sm:inline-flex">
                    <input type="radio" value="$1-5k" formControlName="budget">
                    <div class="flex sm:pl-1">$1-5k</div>
                  </label>
                  <label class="pr-4 pl-2 sm:inline-flex">
                    <input type="radio" value="$5-10k" formControlName="budget">
                    <div class="flex sm:pl-1">$5-10k</div>
                  </label>
                  <label class="pl-2 sm:inline-flex">
                    <input type="radio" value="$10k+" formControlName="budget">
                    <div class="flex sm:pl-1">$10k+</div>
                  </label>
                </div>
              </div>




              <div class="pt-1 sm:pt-4">
                <input class="contactInputs" formControlName="text" type="text" placeholder="Say hi!!">
              </div>



            </div>


            <div class="pt-8 pb-4 sm:pb-8 text-center">
              <button type="submit"
                class="rounded-md inline-flex items-center justify-center gap-2 px-3 sm:px-4 py-1 text-gray-800 bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-green-200 text-md hover:bg-gray-900 hover:border-gray-700 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
                Subscribe
              </button>
            </div>



          </div>




        </form>
      </div>
    }
     @if(showConfirmation == true) {
      <div class="flex-row w-full px-2 text-center text-gray-800 dark:text-gray-200">
        <div class="pt-10 pb-2">

          <div class="pb-16">
            <i-tabler class="confirmation-icon iconDarktMode" name="square-rounded-check"></i-tabler>
          </div>
          <div class="text-lg sm:text-xl font-light pb-1">A confirmation message was sent to</div>
          <div class="text-lg sm:text-xl font-light pb-6">{{infoContact.email}}</div>
        </div>
      </div>
     }


    </div>
  </div>
</div>
