  <div (click)="closes()"  class="fixed flex flex-col z-20 w-screen h-full bg-gray-700 bg-opacity-90">

    <div (click)="$event.stopPropagation()" class="m-auto py-4 px-1 sm:p-10 bg-gray-100 border border-gray-200 rounded-2xl shadow">

      <div class="flex flex-col items-center text-center">
        <div class="mb-3 text-2xl font-medium text-brand">Are you over 21 years old?</div>
        <div class="text-sm text-gray-500">Please verify your age to enter this site</div>

          <div (click)="closes()" class="flex gap-2 py-6 sm:gap-6 sm:p-10">
            <div  class="button_off">
              I am under 21
            </div>
          </div>


      </div>
    </div>
  </div>

