<!-- <div class="section py-2 md:py-12 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl"> -->


  <!-- <div class="max-w-xl mx-4 mb-8">

    <a routerLink="/"
      class="cursor-pointer rounded-md inline-flex items-center justify-center gap-2 px-3 sm:px-4 py-1 text-gray-800 bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-green-200 text-md hover:bg-gray-900 hover:border-gray-700 group max-w-fit hover:text-white focus:outline-none mb-6">
      <i-tabler class="m-auto scale-90" name="arrow-left"></i-tabler>
      Back
    </a>

    <h1 class="text-left text-3xl text-gray-900 dark:text-white mb-2">Book an Appointment</h1>
    <p class="text-left text-base text-gray-700 dark:text-gray-300 mb-6">
      Schedule a meeting with me directly on my calendar.
    </p>

  </div> -->

    <iframe
      src="https://calendar.google.com/calendar/appointments/schedules/AcZssZ1oZptUgv0JOvTx_ExUd9B1xYFOX8STQkx_WBtLOfyeYsaH5OmMSvEFOsaVAqMyXbwcyOIhS25G?gv=true"
      style="border: 0"
      width="100%"
      height="720"
      frameborder="0">
    </iframe>

<!-- </div> -->
