<div class="section py-2 md:py-12 scroll-m-20 w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
  <div class="max-w-xl mx-4">


    <!-- <div class="m-auto sm:max-w-md md:max-w-2xl "> -->
    <div>

      <div class="flex gap-4 mb-4">
        <img class="size-12 sm:size-14 md:size-16 rounded-full shadow-md shadow-black dark:shadow-green-400 "
          src="./../../../../../assets/img/avatar-01-web.jpg" alt="Martin Pic.">

        <!-- <div class="flex items-center animate-bounce"> -->
        <div class="flex items-center">
          <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
            <span
              class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#51E4B8_0%,#21554E_50%,#51E4B8_100%)]">
            </span>
            <a href="https://www.linkedin.com/in/martin-e-mendez-3a43b564" target="_blank"
              class="tracking-widest inline-flex items-center justify-center w-full px-3 text-sm text-green-600 bg-green-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap">
              Ready to Work
            </a>
          </span>
        </div>



        <!-- <div class="flex items-center transition md:justify-center">
          <span
            class="tracking-widest inline-flex animate-bounce items-center bg-green-100 text-green-800 sm:text-sm text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">
            Ready to Work
          </span>
        </div> -->

      </div>

      <div class="text-left text-3xl text-gray-900 truncate dark:text-white">
        Hey, I'm Martin
      </div>

      <div class="text-left text-base sm:text-xl mt-4 font-normal text-gray-700 dark:text-gray-300">
        Software developer and real-problem-solver. With vast
        experience in front-end development and team management,
        passionate for turning challenges into efficient solutions.
        <!-- Let's create your next solution together! -->
      </div>

      <div class="text-sm sm:text-base gap-1 flex flex-wrap sm:gap-4 mt-8">

        <div (click)="openContactForm()" target="_blank"
          class="rounded-md inline-flex items-center justify-center gap-2 px-3 sm:px-4 py-1 text-gray-800 bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-green-200 text-md hover:bg-gray-900 hover:border-gray-700 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
          <i-tabler class="m-auto" name="mail-fast"></i-tabler>
          Contact
        </div>
        <a href="https://www.linkedin.com/in/martin-e-mendez-3a43b564" target="_blank"
          class="rounded-md inline-flex items-center justify-center gap-2 px-3 sm:px-4 py-1 text-gray-800 bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-green-200 text-md hover:bg-gray-900 hover:border-gray-700 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
          <i-tabler class="m-auto scale-90 " name="brand-linkedin"></i-tabler>
          LinkedIn
        </a>
        <a href="https://www.github.com/martinpercu" target="_blank"
          class="rounded-md inline-flex items-center justify-center gap-2 px-3 sm:px-4 py-1 text-gray-800 bg-gray-100 border border-gray-300 dark:bg-gray-800 dark:border-gray-600 dark:text-green-200 text-md hover:bg-gray-900 hover:border-gray-700 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black">
          <i-tabler class="m-auto scale-90 " name="brand-github"></i-tabler>
          GitHub
        </a>
      </div>
    </div>

  </div>


</div>
