<div>

  <div class="flex-shrink-0">
    <!-- <img class="w-12 h-12 rounded-full" src="./../../../../../assets/img/avatar-01.jpg" alt="Neil image">

    <div class="text-xl text-gray-900 truncate dark:text-white">
      Hey, I'm Martin
    </div> -->
  </div>
  <div>
  </div>
  <div class="flex-1 min-w-0 ms-4">
    <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
      My mission ===> Bring solution using more than just code .... <br>
      Solving problems with more than code
    </p>
    <p class="text-sm text-gray-500 truncate dark:text-gray-400">
      martinpercu&#64;gmail.com
    </p>
  </div>

</div>
