<div class="w-max m-auto text-center self-center">
  <div class="">

    <div class="">
      <img class="w-12 h-12 rounded-full" src="./../../../../../assets/img/avatar-01.jpg" alt="Martin Pic.">

      <div class="text-xl text-gray-900 truncate dark:text-white">
        Hey, I'm Martin
      </div>
    </div>

    <div class="m-auto max-w-sm ">

      <p class="font-normal text-gray-700 dark:text-gray-400">
        ... software developer and professional problem-solver. With [number] years
        of experience in [specific areas of expertise, e.g., full-stack development], I have
        a knack for turning complex challenges into efficient solutions. I thrive in
        collaborative environments and am a lifelong learner, always looking for the next
        puzzle to crack. Let's create some code magic together!
      </p>
    </div>

    <div class="flex-1 min-w-0 ms-4 ">
      <div>


      </div>
      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
        martinpercu&#64;gmail.com
      </p>
    </div>
  </div>


</div>
