<!-- <p>footer works!</p> -->

<!-- <div class="opacity-80 w-full container lg:max-w-4xl md:max-w-2xl flex justify-center"> -->

  <div class="rounded-lg w-full max-w-screen-xl mx-auto sm:flex sm:items-center sm:justify-between">

    <span
      class="text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90">
      © 2024
      <a href="https://drinkko.com" class="hover:underline">
        Chanta total</a>. Almost all copyrights reserved
    </span>

    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0">
      <li>
        <a href="/#about" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li> <a id="contact" href="mailto:martinpercu@gmail.com" class="hover:underline">Contacto</a> </li>
    </ul>
  </div>


<!-- </div> -->
